@use "material-symbols";
@use './cdk-overlay-container.scss';
@use './cdk-text-field.scss';
@use '../node_modules/react-tabs/style/react-tabs.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --modal-background-color: #fff;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --action-color-primary: #03aff0;
  --action-color-primary-hover: #009ed7;
  --action-color-warn: #fbfafa;
  --action-color-warn-hover: #ffd9d9;
  --action-color-error: #9a3b00;
  --action-color-error-hover: #853300;
  --action-color-success: #3b9a00;
  --action-color-success-hover: #338500;
}

.flexFill {
  flex: 1 1 auto;
}

.textAlignCenter {
  text-align: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.alignCenter {
  vertical-align: middle;
  align-items: center;
}

.gap4 {
  gap: 4px;
}

.gap8 {
  gap: 8px;
}

.gap12 {
  gap: 12px;
}

.gap16 {
  gap: 16px;
}

.pb-300 {
  padding-bottom: 300px;
}

.mw-150 {
  min-width: 150px;
}

.b-0 {
  border: 0;
}

.overflowHidden {
  overflow: hidden;
}

.textarea-default {
  width: 250px; 
  height: 85px;
}

h1, h2, h3, h4, h5 {
  color: rgba(0, 0, 0, .87);
}

.spinner {
  position: relative;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  width: 20px;
  height: 20px;
  border: 3px solid var(--action-color-primary);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 1.25s linear infinite;
  z-index: 9999;
}

.spinner--hidden {
  /* display: none; */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* TABS */
.Tab {
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
  padding: 10px;
}

.Tab.active {
  background-color: #fff;
  border-bottom: 2px solid #337ab7;
  padding: 10px;
}


/* PKV */
.pkv-demo {

  div.example-obj {
    top: -20px;
    position: relative;

    h5 {
      margin: 0;
    }
  }

  .pkv-container {
    span.colon {
      > span {
        &:after {
          content: ':';
          display: inline;
        }
      }
    }
  }

  .pkv-form-wrapper {

    .pkv-form {
      display: none;
    }

    &.show-form .pkv-form {
      display: block;
    }
  }

}

.react-tabs {
  flex-grow: 1;
  position: relative;

  ul.react-tabs__tab-list {
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:0;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }
  
  li.react-tabs__tab {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: #fff;
    border-bottom: 4px solid transparent;
    color: rgba(0, 0, 0, .6);
    height: 48px;
    min-width: 90px;
    padding: 0 24px;
    line-height: 48px;
    z-index: 2;
    -webkit-font-smoothing: antialiased;

    &:hover {
      background-color: #03aff008;
    }

    &.react-tabs__tab--selected {
      color: var(--action-color-primary);
      border: none;
      background-color: #03aff008;
      border-bottom: 4px solid var(--action-color-primary);
    }

  }

  .react-tabs__tab-panel {
    padding: 0 8%;
  }
}

.select-wrappper{
  max-width: 500px;
}


.menu-wrap {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  outline: 1px solid cyan;
}


.main-tabs-wrapper {

  h1 {
    font-weight: normal;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
    margin: 20px 0 100px 10px;
  }
  h1 span {
    font-size: 13px;
    display: block;
    padding-left: 4px;
  }

  .tabs {
    width: 650px;
    float: none;
    list-style: none;
    position: relative;
    margin: 80px 0 0 10px;
    text-align: left;
  }
  .tabs li {
    float: left;
    display: block;
  }
  .tabs input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  .tabs label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    background: #8e44ad;
    cursor: pointer;
    position: relative;
    top: 4px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .tabs label:hover {
    background: #703688;
  }
  .tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    background: #612e76;
  }
  .tabs [id^="tab"]:checked + label {
    top: 0;
    padding-top: 17px;
    background: #612e76;
  }
  .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }
  .tabs {
    p.link {
      clear: both;
      margin: 380px 0 0 15px;
    }
    p.link a {
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      color: #fff;
      padding: 5px 10px;
      margin: 0 5px;
      background-color: #612e76;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }
    p.link a:hover {
      background-color: #522764;
    }
  }
}


.modal {
  display: none;
  height: auto;
  min-height: 300px;
  width: auto;
  background-color: var(--modal-background-color);
  margin: 0 auto;
  position: absolute;
  left: 15%;
  top: 10%;
  right: 15%;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .15);
  border-radius: 3px;
  z-index: 100;

  &.show-modal {
    display: flex;
  }

  .close {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
  }

  .modal-form-wrap {
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 1;

    .modal-form-wrap-inner {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
    }

    .modal-header {
      h2 {

      }
    }
  }
}


form.zb-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  flex-grow: 1;
  gap: 4px;

  .form-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .form-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    button.cancel-button {}
    button.submit-button {}
  }

  .form-field-wrap {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .label, label {
      align-self: flex-start;
      min-width: 125px;
    }

    input {}
    textarea {}

    &.name-field {display: flex;}
    &.key-field {display: none;}
  }

  &.show-key-fields .form-field-wrap {
    &.name-field {display: none;}
    &.key-field {display: flex;}
  }
}

.dialog-message {
  display: none;
  text-align: center;
  
  &.show-message {
    display: block;
  }

  p {
    font-size: 15px;
    padding: 16px;

    &.success {
      color: var(--action-color-success);
    }
    
    &.warn {
      color: var(--action-color-error);
    }
  }


}


.menu-item {
  line-height: 40px;
  padding: 0 12px;

  &.clickable {
    cursor: pointer;
  }

  &:hover {
    background-color: whitesmoke;
  }
}

.avatar-wrapper{
  $avatarDiameter: 32px;
  $diameter: 32px;
  $lineHeight: 16px;
  $iconDiameter: $lineHeight;

/*   &.x-large {
    $avatarDiameter: 64px;
    $diameter: 64px;
    $lineHeight: 32px;
    $iconDiameter: $lineHeight;
  } */

  line-height: $lineHeight;
  border-radius: 50%;
  height: $avatarDiameter;
  width: $avatarDiameter;
  background-color: #f5f5f5;
  color: #767676;
  display: flex;
  align-items: center;
  justify-content: center;

  .avatar-img{
    max-height: $avatarDiameter;
    max-width: $avatarDiameter;
    line-height: $lineHeight;
  }

  .avatar-initials{
    border-radius: 50%;
    font-size: $lineHeight;
    line-height: $lineHeight;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    height: $iconDiameter;
    width: $iconDiameter;
    font-size: $iconDiameter;
  }

  &.hasImage {
    background-color: transparent;
    border-radius: 0px;
  }

  .avatar-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: $lineHeight;

    span.avatar-label{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: $lineHeight;
      line-height: $lineHeight;
      
      &.bold{
        font-weight: 600;
      }
    }
  }
}

.form-field-wrap {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-bottom: 16px;

  input {
    width: 75%;
    padding: 0 8px;
    line-height: 24px;
    min-width: 300px;

    &[name="expireMinutes"] {
      min-width: 80px;
      width: 80px;
    }
  }

  .label {
    line-height: 34px;
    white-space: nowrap;
  }

  .hint {
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;

    &.lh-34 {
      font-size: 14px;
      line-height: 34px;
    }
  }
}

hr.small {
  max-width: 800px;
  margin: 8px 0;
  border-color: #ddd;
  border-style: solid;
}

button {
  padding: 8px 16px;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--action-color-primary);
  color: #fff;
  font-size: 14px;
  box-shadow: 0 0 3px -1px inset #fff;
  cursor: pointer;

  &:hover {
    background-color: var(--action-color-primary-hover);
  }

  &:disabled {
    background-color: #ddd;
    cursor: default;
  }

  &.action-button {
    &.warn {
      background-color: var(--action-color-warn);
      color: #330000;
      border-color: #ffecec;
    }
    &.warn:hover {
      background-color: var(--action-color-warn-hover);
    }
    &.success {
      background-color: var(--action-color-success);
      color: #fff;
      border-color: #52d500;
      cursor: pointer;
    }
    &.success:hover {
      background-color: var(--action-color-success-hover);
      cursor: pointer;
    }
  }
}

.auditmation-user{
  margin: 0 8px;

  .auditmation-user-tooltip {
    position: relative;
    display: inline-block;
    width: auto;
    height: 64px;

    .tooltiptext{
      position: absolute;
      z-index: 1;
      visibility: hidden;
      background-color: #fff;
      color: #000000de;
      border-radius: 6px;
      right: 0;
      width: 325px;
      white-space: pre-line;
      box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.12);
      margin-top: -3px;
    }

    &.active{
      .tooltiptext {
        visibility: visible;
        z-index: 10;
      }
    }
  }


  /* clickable top panel with listener */
  .top-summary {
    display: flex;
    height: 64px;
    align-items: center;
    gap: 8px;
    justify-items: right;
    cursor: pointer;

    .org-user {
      display: flex;
      flex-direction: column;
      flex-basis: 260px;
      text-align: right;
      color: #fff;
      font-family: Montserrat, sans-serif;

      h3 {
        font-size: 15px;
        line-height: 1;
        font-weight: 600;
        margin: 0;
        color: #fff;
      }
      h4 {
        font-size: 12px;
        line-height: 1;
        margin: 0;
        font-weight: 500;
        color: #fff;
      }

      .user-info {
        display: flex;
        flex-direction: column;
        width: calc(100% - 64px);
      }
    }
    .user-avatar {
      display: flex;
      width: 32px;
      height: 32px;

      .mat-icon {
        font-size: 32px;
        height: 32px;
        width: 32px;
      }
      img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
    }
  }

  .mat-mdc-menu-item{
    .mat-mdc-menu-item-text{
      flex-grow: 1;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .nf-organization-switcher{
    display: flex;
    flex-grow: 1;

    > div:first-child {
      flex-grow: 1;
      display: flex;

      .avatar-icon{
        flex-grow: 1;
        display: flex;

        nf-avatar-label{
          flex-grow: 1;

          img.nf-avatar-img{
            margin: 0 18px 0 10px;
          }
        }

        .mat-icon{
          margin-right: 0;
        }
      }
    }
  }


  /* when menu is open */
  .menu-open-panel {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 12px;

    .main-org-user {
      display: flex;
      gap: 8px;
      padding: 0 8px;

      .user-avatar {
        width: 64px;
        height: 64px;
        flex-basis: 64px;
      }
      
      .user-info {
        display: flex;
        flex-direction: column;
        width: calc(100% - 64px);
        justify-content: center;

        .user-name {
          font-size: 15px;
          line-height: 18px;
          font-weight: bold;
        }
        .user-email {
          font-size: 12px;
          line-height: 1;
        }

      }

    }


    .org-users {
      list-style: none;
      padding: 0;
      overflow: auto;
      max-height: 300px;
    }


    .mat-mdc-option {
      height: 2.5em;
      padding: 5px 0;

      .nf-avatar-label {
        .nf-avatar-text-wrapper {
          flex-grow: 1;
          span.nf-avatar-label-label {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 170px;
          }
          span.nf-avatar-label-subText {
            width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    
  }


  .nf-avatar-label{
    display: flex;
    align-items: center;
    gap: 8px;
    
    img.nf-avatar-img{
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }

    .nf-avatar-text-wrapper{
      display: flex;
      flex-direction: column;
      gap: 4px;

      span.nf-avatar-label-label{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 16px;
        line-height: 16px;
      }

      span.nf-avatar-label-subText{
        font-size: 12px;
        line-height: 12px;
        color: #000000de;
      }
    }
    &.maintain-aspect-ratio {
      img.nf-avatar-img {
        max-width: 32px;
        min-width: 32px;
        max-height: 32px;
        width: auto;
        height: auto;
        vertical-align: middle;
        border-radius: 0;
      }
    }

    &.dense{
      $imageSize: 28px;

      img.nf-avatar-img{
        height: $imageSize;
        width: $imageSize;
        border-radius: 50%;
      }

      &.small{
        $imageSize: 20px;

        img.nf-avatar-img{
          height: $imageSize;
          width: $imageSize;
          border-radius: 50%;
        }
      }
  
      .nf-avatar-text-wrapper{
        display: flex;
        flex-direction: column;
        gap: 4px;
  
        span.nf-avatar-label-label{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 14px;
          line-height: 14px;
        }
  
        span.nf-avatar-label-subText{
          font-size: 12px;
          line-height: 12px;
          color: #000000de;
        }
      }
      &.maintain-aspect-ratio {
        img.nf-avatar-img {
          max-width: $imageSize;
          min-width: $imageSize;
          max-height: $imageSize;
        }
      }
    }
  }



  .nf-organization-switcher {
    cursor: pointer;

    .org-selector {
      width: 100%;

      .select__control {
        .select__single-value {
          margin:0;
          padding:0;
        }
      }
      .org-item {
        display: flex;
        align-items: center;
        gap: 4px;

        img {
          height: 16px;
          width: 16px;
          border-radius: 50%;
        }
      }

    }

    .avatar-icon {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;


      .nf-avatar-label {
        gap: 4px;
        
        .nf-avatar-text-wrapper {
          span.nf-avatar-label-label{
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      .mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
      }
    }
  }
}

.overlay {
  display: none;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 1px #ccc;
  
  &.active {
    display: flex;
    position: absolute;
    max-width: 50%;
    max-height: 350px;
    width: 100%;
    height: 100%;
    top: 25%;
    left: 25%;
  }

  &.createApiKey {
    max-height: 275px;
  }

  &.createSharedSessionKey {
    max-height: 275px;
  }

  .overlay-wrap {
    gap: 8px;
    width: 100%;
  }

  .overlay-header {
    max-height: 50px;
    width: 100%;
    height: 100%;

    h2 {
      padding: 0 16px;
    }
  }

  .overlay-content {
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 0 16px;

    p {
      font-size: 16px;
      margin: 0 0 16px;
    }
    
  }

  .overlay-footer {
    max-height: 60px;
    padding: 16px;
    width: 100%;
  }

}

.demo-items-wrapper {

  h2 {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    font-size: 24px;
    height: 30px;
    width: 100%;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
  }

  .demo-item {
    font-family: Montserrat, sans-serif;
    flex: 0 0 32%;
    max-width: 600px;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 6px;
    padding: 12px;
    font-size: 22px;
    font-weight: 500;
    min-width: 250px;
    box-shadow: 8px 8px 16px -6px #0000001a;
    border-radius: 5px;
    transition: box-shadow .13s linear, transform .13s linear;
    background-color: #fff;


    &:hover {
      transform: translate(-2px) translateY(-2px);
      box-shadow: 8px 8px 16px -4px #0000004d;
    }

    .item-header {
      height: 64px;
      font-size: 22px;
      font-weight: 500;
      white-space: nowrap;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px 0;
      box-sizing: border-box;
      a {
        color: #333;
        text-decoration: none;
        display: flex;
        gap: 12px;
        line-height: 40px;

        &:hover {
          color: var(--action-color-primary-hover);
        }
      }
      span.item-title {
        font-size: 22px;
        line-height: 40px;
      }
      
    }

    .item-subtitle {
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      min-height: 40px;
      padding: 0 16px;
    }

    .item-actions {
      border-top: 1px solid rgba(0, 0, 0, .12);
      justify-items: flex-end;
      padding: 4px 16px;
    }



    button.launch-btn {
      border: 1px solid rgba(0, 0, 0, .12);
      box-shadow: none;
      border-radius: 10px;
      padding: 6px 16px;
      color: #000000de;
      background-color: #fff;
      position: relative;
      top: 12px;
      display: flex;
      gap: 4px;
      align-items: center;

      a {
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        font-size: 12px;
        height: 15px;
        line-height: 15px;
        text-decoration: none;
        color: inherit;
        vertical-align: middle;
      }

      &:hover {
        color: var(--action-color-primary-hover);
        border-color: var(--action-color-primary-hover);
      }
    }
    p {
      font-size: 16px;
    }
  }
}

.content-wrapper .demo-item {
  width: 100%;
  padding-bottom: 32px;
  
  table.table {
    width: 100%;
    border-collapse: collapse;

    tr {
      color: #0000008a !important;
      font-size: 14px !important;
      font-family: Roboto, sans-serif;
    
      th {
        text-align: left;
      }

      td {
        font-family: Roboto, sans-serif;
        vertical-align: top;
        padding: 8px 4px;
        line-height: 20px;
        border-bottom: 1px solid #ddd;
        max-width: clamp(200px, 30vw, 500px);

        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-collapse: separate;
        box-sizing: border-box;
      }
    }

    .product-item {
      .product-logo img {
        height: 100%; 
        width: auto; 
        max-width: 100%; 
        max-height: 20px;
      }
      .product-name {
        font-weight: 500;
        white-space: nowrap;
      }
    }
  }
}

.pagination-wrap {
  padding-top: 8px;
  align-self: flex-end;

  .pagination-link {
    cursor: pointer;
    line-height: 34px;
    padding: 0 8px;
    background: #efefef;
    border: 1px solid #efefef;

    &:hover {
      background-color: #fff;
      border: 1px solid #03aff0;
    }

    &.current {
      cursor: default;
      font-weight: bold;
      background: #03aff036;
    }

    &.current:hover {
      background: #03aff036;
    }
  }
}

.pkv-container {
  ul li {
    .text-wrapper {
      flex-wrap: wrap; 
      align-items: stretch; 
      flex-grow: 1;
    
      .label.colon {
        align-self: flex-start;
        flex-basis: 175px; 
        font-size: 14px; 
        align-items: center; 
        flex-wrap: wrap;
      }
      .text {
        flex-basis: 65%; 
        font-size: 14px; 
        word-break: break-word;
      }
    }
  }
}



