*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --action-color-primary: #03aff0;
  --action-color-primary-hover: #009ed7;
  --action-color-warn: #fbfafa;
  --action-color-warn-hover: #ffd9d9;
  --action-color-success: #3b9a00;
  --action-color-success-hover: #338500;
  --font-montserrat: "font-family: Montserrat, sans-serif;";
}

body {
  padding:0;
  margin:0;
  background: #03aff00d;
  background: radial-gradient(ellipse at top left, rgba(3, 175, 240, .1), transparent, transparent);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.content-wrap {
  padding: 0 8%;
}
.toolbar {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  height: 68px;
  background: #000;
  gap: 8px;
  padding: 0;
  justify-content: flex-end;
  min-height: 64px;
}
.app-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0px 16px 0;
  padding: 8px 0 0;
  width: calc(100% - 32px);
}
.app-bar h1 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  max-width: 200px;
  min-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  min-width: 500px;
  padding: 0 16px;
}
.zerobias-bar {
  background: #03aff0;
  background: linear-gradient(90deg, #03aff0 25%, #232323 75%);
  width: 100%;
  height: 4px;
  position: absolute;
}

.avatar-text-wrapper span.avatar-label-label {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
}

.user-icon-dropdown {
  margin-top: 5px;
}

.user-dropdown {
  display: flex;
  border-left: 1px solid #333;
  padding-left: 25px;
}

.user-switcher-dropdown {
  position: absolute;
  top: 600px;
  width: 200px;
}

.user-dropdown-list {
  position: absolute;
  top: 46px;
  right: -20px;
  width: 240px;
}

.user-dropdown-list .mat-mdc-option {
  padding-left: 0;
}

.arrow_drop_down {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgb(32, 32, 32);
}


/* for styled select */
select {
  -webkit-appearance: none;
    -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}
select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 64ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 4px 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select select, .select::after {
  grid-area: select;
}
.select:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;
  /*
  * Safari will not reveal an option
  * unless the select height has room to 
  * show all of it
  * Firefox and Chrome allow showing 
  * a partial option
  */
  height: 6rem;
  /* 
  * Experimental - styling of selected options
  * in the multiselect
  * Not supported crossbrowser
  */
}
select[multiple] option {
  white-space: normal;
  outline-color: var(--select-focus);
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
  font-size: 16px;
  font-weight: 400;
}

.spinner {
  position: relative;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  width: 20px;
  height: 20px;
  border: 3px solid var(--action-color-primary);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 1.25s linear infinite;
  z-index: 9999;
}

.spinner--hidden {
  /* display: none; */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}