<button
  mat-icon-button
  [matMenuTriggerFor]="userMenu"
  aria-label="User menu"
  class="avatar-trigger"
>
  <span class="avatar-circle">{{ initials() }}</span>
</button>

<mat-menu #userMenu="matMenu" class="user-profile-menu">
  <div class="menu-header" (click)="$event.stopPropagation()">
    <span class="avatar-circle avatar-lg">{{ initials() }}</span>
    <div class="header-text">
      <div class="user-name">{{ userName() }}</div>
      <div class="org-name">{{ orgName() }}</div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="toggleRole()">
    <mat-icon>swap_horiz</mat-icon>
    <span>Role: {{ userRole() | titlecase }}</span>
  </button>

  <button mat-menu-item (click)="cycleTheme($event)">
    <mat-icon>{{ themeIcon() }}</mat-icon>
    <span>Theme: {{ themeLabel() }}</span>
  </button>

  <mat-divider></mat-divider>

  <a mat-menu-item routerLink="/my-profile">
    <mat-icon>person</mat-icon>
    <span>My Profile</span>
  </a>

  <a mat-menu-item routerLink="/admin">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Admin</span>
  </a>
</mat-menu>
