<!-- eslint-disable -->
<div class="toolbar">
  <div class="app-bar">
    <img src="https://cdn.zerobias.com/static/images/zerobias/zerobias_white.svg" alt="ZeroBias" height="28">
    <h1>ZeroBias Client API Demo</h1>
    <span style="flex: 1 1 auto;"></span>

    <div class="auditmation-user">
      <div class="auditmation-user-tooltip" [class.active]="toggle">
        
        <div class="top-summary menu-toggle" (click)="onToggle($event)">
          <div class="org-user">
            <h3 class="username">{{ currentUser?.name }}</h3>
            <h4 class="orgname">{{ currentOrg?.name }}</h4>
          </div>
          <div class="user-avatar">
            <div class="auditmation-avatar medium default">
              @if(false) {
                <div class="avatar-wrapper medium" [class.hasImage]="currentUser?.avatarUrl">
                  <img class="avatar-img" [src]="currentUser?.avatarUrl" alt="{{currentUser?.name}}">
                </div>
              } @else {
                <div class="avatar-wrapper">
                  <div class="avatar-initials">
                    {{currentUser?.name ? (currentUser?.name.charAt(0)|capitalize) : ''}}
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      
        <div class="tooltiptext" (click)="$event.stopPropagation()">
      
          <div class="menu-open-panel">
      
            <div class="main-org-user">
              <div class="avatar-wrapper x-large" [class.hasImage]="currentUser?.avatarUrl">
                @if(currentUser?.avatarUrl) {
                  <img class="avatar-img" [src]="currentUser?.avatarUrl">
                } @else {
                  <div class="avatar-initials">
                    {{currentUser?.name ? (currentUser?.name.charAt(0)|capitalize) : ''}}
                  </div>
                }
              </div>

              <div class="user-info">
                <span class="user-name">{{currentUser?.name}}</span>
                <span class="user-email secondary-text" *ngIf="currentUser?.emails && currentUser?.emails.length > 0"> {{currentUser?.emails[0]}} </span>
              </div>
            </div>
            
            <div class="main-menu" flexColumn>
              <hr />
              <div class="menu-item">

                <div class="nf-organization-switcher">

                  <div class="select">
                    <select id="selectOrg" name="selectOrg" [formControl]="formGroup.get('org')" [compareWith]="compareObjects">
                      <option [ngValue]="">Select Organization</option>
                      @for(org of orgs; track org.id.toString()) {
                        <option [ngValue]="org">{{ org.name }}</option>
                      }
                    </select>
                  </div>

                </div>

              </div>
              <hr />
              <span class="menu-item clickable" (click)="onCreateApiKeyClick()">Create New API Key</span>
              <span class="menu-item clickable" (click)="onShareSessionClick()">Share Session</span>
              <span class="menu-item clickable" (click)="onLogoutClick()">Sign Out</span>
            </div>
      
          </div>
      
        </div>

      </div>
    </div>
  </div>
  <div class="zerobias-bar"></div>
</div>

<div class="content-wrap">
  <div class="content-wrapper flex-column gap16">

    <div class="demo-item" flexColumn>
      <h2>Catalog Products Example</h2>
      <p>This example calls the ZeroBias Catalog API <code>clientApi.portalClient.getProductApi().search()</code> endpoint to get a list of 5 products from the ZeroBias Catalog</p>
      
      <table class="table">
        <tr class="product-item">
          <th>Logo</th>
          <th>Name</th>
          <th>Description</th>
          <th>Package Code</th>
          <th>Status</th>
        </tr>
        @for(product of products; track product.id.toString()) {
          <tr class="product-item">
            <td class="product-logo">
              <img src="{{ product.logo.toString() }}" alt="{{ product.name }}" />
            </td>
            <td class="product-name">{{ product.name }}</td>
            <td class="product-description">{{ product.description }}</td>
            <td class="product-packageCode">{{ product.packageCode }}</td>
            <td class="product-status">{{ product.status.toString() }}</td>
          </tr>
        }

      </table>
      <div class="pagination-wrap" flexRow gap4>
        @if(productsPageStateExample.count > 0) {
          <!-- if we have records -->
          <button class="prev-link" (click)="onPageChange($event)" [disabled]="productsPageStateExample.pageNumber < 2">&lt;</button>
          @for(num of productsPageNumbers; track num) {
            @if (num === productsPageStateExample.pageNumber) {
              <span class="pagination-link current">{{num}}</span>
            } @else {
              <span class="pagination-link" (click)="getProducts(num)" style="cursor: pointer;">{{num}}</span>
            }
          }
          <button class="next-link" (click)="onPageChange($event)" [disabled]="productsLastPage > 0">&gt;</button>
        }
      </div>
    </div>

    <div class="demo-item">
      <h2>Principal Key-Value Example</h2>
      <p>This example calls the ZeroBias Principal Key-Value API <code>clientApi.danaClient.getPkvApi()</code> endpoint to manipulate the storage of key-value pairs</p>
      <button (click)="showAddPkv = showAddPkv ? false : true">+ add</button>

      @if(showAddPkv) {
        <hr class="small">
        <h3>Create KV Pair</h3>
        <div class="new-pkv-form" flexColumn gap4>

          <div flexRow gap16>

            <div class="form-field-wrap">
              <span class="label">Key:</span>
              <div>
                <input [formControl]="kvFormGroup.get('key')" placeholder="" autocomplete="off" style="min-width: 150px;"/>
              </div>
            </div>

            <div class="form-field-wrap">
              <span class="label">Value:</span>
              <div>
                <textarea style="width: 250px; height: 85px;" [formControl]="kvFormGroup.get('value')" placeholder="{}" autocomplete="off">{{kvFormGroup.get('value').value}}</textarea>
              </div>
            </div>

            <div class="example-obj" style="top: -20px;position: relative;">
              <h5 style="margin:0;">Example Value: </h5>
              <textarea style="width: 250px;height: 85px;border: 0;overflow:hidden;" readonly>
{
  "value": {
    "additionalProp1": {}
  }
}
              </textarea>
            </div>
          </div>

          <div>
            <button [disabled]="!kvFormGroup.valid" (click)="addKvPair()">Create</button>
          </div>
        </div>
        <hr class="small">
      }
      <div class="pkv-container">
        
        <style type="text/css">
          span.colon {
            > span {
              &:after {
                content: ':';
                display: inline;
              }
            }
          }
        </style>
        <ul class="list" role="list">

          @for(item of pagedKvPairs; track item) {
            <li role="listitem">
              <div class="text-wrapper" flexRow gap4>
                <span class="label colon" flexRow>
                    <span>{{item.key}}</span>
                </span>
                <span class="text">
                  {{item.value|toString:false:64:'json'}}
                </span> 
              </div>
            </li>
          }

        </ul>

        
      </div>
    </div>

    <div class="demo-item">
      <h2>Module Usage Example</h2>
      <p>This example will use our GitHub Module to make calls to retrieve a list of your organization's GitHub Repositories.</p>

      <form [formGroup]="formGroup" autocomplete="off">

        <!-- Select ZeroBias Organization -->
        <section>
          <h3>Selected ZeroBias Platform Organization </h3>

          <h4>{{ currentOrg?.name }}</h4>

        </section>

        <!-- Select Product: Github -->
        <section>
          <h3>Select Product </h3>
          <div flexRow gap16 alignCenter>
            <div class="select">
              <select id="selectProduct" name="selectProduct" [formControlName]="'product'" [compareWith]="compareObjects">
                <option [ngValue]="githubProduct">{{ githubProduct?.name }}</option>
              </select>
            </div>
            <label for="selectProduct">{{ githubProduct?.name }}</label>
          </div>
        </section>

        <!-- Select Connection -->
        <section>
          <h3>Select Connection </h3>
          <div flexRow gap16 alignCenter>
            <div class="select">
              <select name="selectConnection" id="selectConnection" [formControlName]="'connection'" [compareWith]="compareObjects">
                <option [ngValue]="">Select a Connection</option>
                @for(connection of connections; track connection.id.toString()) {
                  <option [ngValue]="connection">{{ connection.name }} {{ connection.description }}</option>
                } 
              </select>
            </div>
            <label for="selectConnection">{{ formGroup.get('connection').value?.name }}</label>
          </div>
        </section>

        <!-- Select Connection Scope if applicable -->
        @if(formGroup.get('scope').value) {
          <section>
            <h3>Select Scope </h3>
            <div flexRow gap16 alignCenter>
              <div class="select">
                <select name="selectScope" id="selectScope" [formControlName]="'scope'" [compareWith]="compareObjects">
                  <option [ngValue]="">Select a Scope</option>
                  @for(scope of scopes; track scope.id.toString()) {
                    <option [ngValue]="scope">{{ scope.name }} {{ scope.description }}</option>
                  } 
                </select>
              </div>
              <label for="selectScope">{{ formGroup.get('scope').value?.name }}</label>
            </div>
          </section>
        

          <!-- Select Github Org -->
          <section>
            <h3>Select Github Org </h3>
            <div flexRow gap16 alignCenter>
              <div class="select">
                <select name="selectGithubOrg" id="selectGithubOrg" [formControlName]="'githubOrg'" [compareWith]="compareObjects">
                  <option [ngValue]="">Select a Github Organization</option>
                  @for(org of githubOrgs; track org.id.toString()) {
                    <option [ngValue]="org">{{ org.name }} {{ org.description }}</option>
                  } 
                </select>
              </div>
              <label for="selectGithubOrg">{{ formGroup.get('githubOrg').value?.name }}</label>
            </div>
          </section>


          <!-- List Github Repos for Github Org -->
          @if(githubRepos?.length > 0) {
            <section>
              <h3>List of Repositories for Selected Github Org (limit 25)</h3>

              <table class="table">

                <tr class="repo-item">
                  <th>Name</th>
                  <th>Description</th>
                  <th>Default Branch</th>
                  <th>Last Pushed</th>
                </tr>

                @for(repo of githubRepos; track repo.id.toString()) {
                  <tr class="repo-item">
                    <td class="repo-name">{{ repo.name }}</td>
                    <td class="repo-description">{{ repo.description }}</td>
                    <td class="repo-defaultBranch">{{ repo.defaultBranch }}</td>
                    <td class="repo-pushed">{{ repo.pushed|date }}</td>
                  </tr>
                }
                
              </table>

            </section>
          }
        }

      </form>
      @if(loading) {
        <div class="spinner"></div>
      }


      <div style="height: 300px;"><!-- breathing room --></div>

    </div>
  </div>
</div>

<div class="overlay {{overlay.action}}" [class.active]="overlay.active">
  <div class="overlay-wrap" flexColumn>
    <div class="overlay-header">
      <h2>{{overlay.title}}</h2>
    </div>
    <div class="overlay-content">
      
      @if (overlay.action === 'createApiKey') {
        <!-- createApiKey form -->
        <div *ngIf="!apiKeyKeyForm.value" class="form-field-wrap">
          <span class="label">API Key Name</span>
          <input [formControl]="apiKeyFormGroup.get('name')" placeholder="" autocomplete="off" />
        </div>
      
        <div *ngIf="apiKeyKeyForm.value" class="form-field-wrap">
          <span class="label">Organization ID</span>
          <input [formControl]="orgIdInput" placeholder="" autocomplete="off" readonly />
          <button (click)="onCopy('orgIdInput')">
            <span>copy</span>
          </button>
        </div>
      
        <div *ngIf="apiKeyKeyForm.value" class="form-field-wrap">
          <span class="label">API Key</span>
          <input [formControl]="apiKeyKeyForm" placeholder="" autocomplete="off" readonly />
          <button (click)="onCopy('apiKeyKeyForm')">
            <span>copy</span>
          </button>
        </div>
      
        <div *ngIf="overlay.message" class="dialog-message" [innerHTML]="overlay.message"></div>
        
        
      } @else if (overlay.action === 'createSharedSessionKey') {
        
        <!-- createSharedSessionKey form -->
        
        <p>Use this form to create a Shared Session Key, which allows someone else to operate this website on your behalf for a limited period of time.</p>
        
        @if(sharedSessionKey) {
          <!-- expiration in minutes -->
          <div class="form-field-wrap">
            <span class="label">Expires</span>
            <input type="text" [value]="sharedSessionKey.expiration" placeholder="" autocomplete="off"/>
          </div>
          <!-- shared session key -->
          <div class="form-field-wrap">
            <span class="label">Shared Session Key</span>
            <input [formControl]="sharedSessionKeyForm" placeholder="" autocomplete="off"/>
            <button mat-icon-button matSuffix (click)="onCopy('sharedSessionKeyForm')">
              <span>copy</span>
            </button>
          </div>
        } @else {
          <!-- new key -->
          <div class="form-field-wrap">
            <span class="label">Expiration (in Minutes)</span>
            <input type="number" [formControl]="sharedSessionFormGroup.get('expireMinutes')" placeholder="" autocomplete="off" />
            <span class="hint">Number of Minutes this key and shared session will be active.</span>
          </div>
        }


      }
    </div>
    <div class="overlay-footer" flexRow>

      <div *ngIf="overlay.showCancel">
        <button class="action-button warn" (click)="onCloseOverlayClick()">Cancel</button>
      </div>

      <span flexFill></span>

      <div *ngIf="overlay.showAction">
        <button class="action-button {{actionButtonColor}}" (click)="onActionClick()" [disabled]="overlay.actionDisabled">{{overlay.actionLabel}}</button>
      </div>

    </div>
  </div>
</div>
