<div class="boards-tab-header">
  <button mat-raised-button color="primary" (click)="openCreateBoard()">
    <mat-icon>add</mat-icon>
    Create Board
  </button>
</div>

@if (loading()) {
  <div class="loading-container">
    <mat-spinner diameter="48" />
  </div>
} @else if (error()) {
  <div class="error-message">{{ error() }}</div>
} @else {
  <app-boards-grid
    [boards]="displayBoards()"
    [pinnedBoardIds]="pinnedBoardIds()"
    (cardClicked)="onBoardClick($event)"
    (pinToggled)="onPinToggle($event)"
  />
}
